body {
    background-color: black;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

h1,

.carousel-inner {
    margin: 10px;
}

.airbus img {
    width: auto;
    height: 525px;
    max-height: 525px;
}

.carousel {
    background-color: white;
}

hr {
    width: 650px;
    border-bottom: 1px solid white;
}
